@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@keyframes fade-out {
    0% { opacity: 1;}
    100% { opacity: 0; }
}

#fade-in {
    animation: fade-in 0.8s ease 0s 1;
    animation-fill-mode: forwards;
}
#fade-out {
    animation: fade-out 0.3s ease 0s 1;
    animation-fill-mode: forwards;
}

.transition-bgcolor {
    transition: background-color 0.8s;
}
.transition-bordercolor {
    transition: border-color 0.8s;
}

body {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    padding: 10px 20px;
    width: 300px;
    height: 500px;
    margin: 0 auto;
}

.container-date {
    padding-top: 10px;
}
.day {
    font-family: HiraMinProN-W6;
    font-size: 25px;
}
.date {
    font-family: HiraMinProN-W3;
    font-size: 6px;
    padding-left: 2px;
    margin-top: -5px;
}

.container-question {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question {
    width: 200px;
    height: 30px;
    background: rgba(255, 228, 17, 1);
    font-family: STSongti-SC-Bold;
    font-size: 15px;
    text-align: center;
    border-radius: 15px;
    line-height: 30px;
}
.triangle {
    border: 10px solid transparent;
    border-top-color: rgba(255, 228, 17, 1);
}
.answer {
    font-family: HiraMinProN-W6;
    font-size: 130px;
    margin-top: -30px;
}

.container-loading {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}
.loading {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.container-content {
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
    cursor: pointer;
}
.content {
    height: 120px;
    font-family: STSongti-SC-Light;
    text-align: justify;
    font-size: 12px;
    overflow-y: auto;
}

.container-title {
    padding-top: 10px;
}
.topic {
    font-family: STSongti-SC-Bold;
    font-size: 12px;
    float: left;
}
.user {
    font-family: STSongti-SC-Light;
    font-size: 12px;
    text-align: right;
    float: right;
}

.magnifier {
    background-color: rgba(255, 228, 17, 1);
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    transform: rotate(-15deg);
    width: 140px;
    height: 200px;
    border-radius: 8px;
    position: absolute;
    top: -999px;
    left: -999px;
}
.magnifier-view, .magnifier-background {
    width: 200px;
    height: 200px;
    /* border-radius: 5px; */
    transform: rotate(15deg);
    position: absolute;
    left: -16px;
    top: -8px;
}
.magnifier-title {
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 8px;
    width: 100%;
}
